# Save exact versions of installed packages
save-exact=true

# Use the default registry
registry=https://registry.npmjs.org/

# Prevent package-lock.json from being automatically updated unless intended
package-lock=true

# Always show progress
progress=true

# Suppress npm update check
update-notifier=false

# Set a default log level
loglevel=warn